// https://brand.darden.virginia.edu/color/

@font-face {
  font-family: "Caslon";
  src: url("../font/AdobeCaslonPro-Regular.woff2");
}

@font-face {
  font-family: "Caslon";
  src: url("../font/AdobeCaslonPro-Italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "CalvertMT";
  src: url("../font/CalvertMT.woff");
}

p {
  font-family: Caslon;
  font-size: 1.4em;
  line-height: 1.4em;
  // color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: CalvertMT;
}
